:root {
    --primary-color: #0077f5;

    --body-color: #333333;

    --line-color: #dddddd;
    --white-color: #ffffff;

    --backgroud-color: #f3f3f3;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

#header {}

#header .hd_wrap .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 12rem;
}

#header .hd_wrap .inner .gnb>ul {
    display: flex;
    gap: 6.4rem;
    font-size: 2rem;
    font-weight: 500;
}

#header .hd_wrap .utils {
    display: flex;
    gap: 8px;
}

.main_visual {
    position: relative;
}

.main_visual .main_visual_slide {}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: calc(100vh - 12rem);
    overflow: hidden;
}

.main_visual .main_visual_slide .itm .bg {
    position: absolute;
    inset: 0 0 0 0;
}

.main_visual .main_visual_slide .itm01 .bg {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 .bg {
    background: url(../images/main_visual02.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 .bg {
    background: url(../images/main_visual03.jpg) no-repeat center center/cover;
}

.main_visual .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 160rem;
    width: 100%;

    text-align: left;
}

.main_visual .slg strong {
    color: var(--white-color);
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6rem;
    text-shadow: 0 0 4px rgba(0, 0, 0, .7)
}

.main_visual .slg p {
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.4rem;
    text-shadow: 0 0 4px rgba(0, 0, 0, .7)
}

.main_visual .page {
    position: absolute;
    max-width: 80rem;
    left: 50%;
    bottom: 8rem;
    transform: translate(-50%, 0);
    display: flex;
    gap: 4px;
    z-index: 10;
}

.main_visual .page span {
    position: relative;
    flex: 1;
    height: 3px;

    border-radius: 4px;

    background: var(--white-color);
    opacity: 1;

    overflow: hidden;
}

.main_visual .page span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 0;

    background: var(--primary-color);
}

.main_visual .page span.swiper-pagination-bullet-active::before {
    width: 100%;
    transition: width 2.5s linear;
}







.main_product {
    position: relative;
}

.main_product .title {
    display: flex;
}


.main_product .title h2 {
    display: inline-flex;
    align-items: center;
}

.main_product .title p {
    display: inline-flex;
    align-items: center;
    margin-top: 0;
}

.main_product .title .default_btn {}



.main_banner {
    position: relative;
    background: url(../images/main_banner.jpg) no-repeat center center/cover;
    height: 40rem;
}

.main_banner .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 세로 가운데 */
    height: 100%;
    text-align: left;
}

.main_banner .inner .title {
    color: var(--white-color);

}


.main_banner .inner .title p {
    margin-top: 2.4rem;
    margin-left: 0;
}


.main_location {
    position: relative;
}

.main_location .title {
    display: flex;
}


.main_location .title h2 {
    display: inline-flex;
    align-items: center;
}

.main_location .title p {
    display: inline-flex;
    align-items: center;
    margin-top: 0;
}


.main_location .__map {
    /* filter: grayscale(1); */
    display: flex;
    align-items: center;
}

.main_location .__map .cont {
    display: none;
}

.main_location .__map .wrap_controllers {
    display: none;
}

.main_location .__map .border2 {
    display: block !important;
    /* display none이여서 계급을 높여줬다. */
    /* !important 모든것을 우선한다. inline, js 보다 더 우선된다. */
}



#footer {
    padding: 6.4rem 0 6.4rem 0;
    background: var(--backgroud-color);
}

#footer .logo {
    margin-bottom: 4rem;
}

#footer .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer p {
    display: flex;
    gap: 3.2rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

#footer p span {
    position: relative;
}

#footer p span~span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1.6rem;
    width: 1px;
    height: 0.5em;

    background: #333;

    transform: translate(0, -50%);
}

#footer address {
    margin-top: 8px;
    font-size: 1.2rem;
    line-height: 2.4rem;
}

* {
    outline: 1px solid tomato;
}